<h1>Rails Admin Experiment!</h1>
<span><%= link_to "Go to Data", data_path %></span>
</br>
<span><%= link_to "Go to Posts", posts_path %></span>
</br>
<span><%= link_to "Go to Rails Admin", "/admin" %></span>