<h1>Data#index</h1>
<ul>
  <% @data.each do |data| %>
    <li>
      <%= data.name %>
    </li>
    <li>
        <%= data.url %>
     </li>
     <li>
        <%= data.number_of_clicks %>
    </li>
  <% end %>
</ul>
