<h1>Data List</h1>
<ul>
  <% @data.each do |data| %>
    <li>
        <%= link_to data.name, controller: "data", action: "show", id: data.id %>
    </a>
    </li>
    <li>
        <%= data.url %>
     </li>
     <li>
        <%= data.number_of_clicks %>
    </li>
  <% end %>
</ul>
